<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ServCloud Portal" > 
    <test name="Customer Admin Resources Add and Validations" >
    <classes>
      <class name="Modules.TC001_SignIn_Page"/>
      <class name="Modules.TC002_Agent_Create_Validation"/>
    </classes>
  </test> 
   
</suite> <!-- Suite -->
